- description: Find the one and only girl I’ll spend my entire life with
  status: pending
+archived('May 9, 2020', 'Have the courage to tell the girl I like that I like her', 'http://crush.yahiarefaiea.com')
- description: Ditch my wedding, and travel somewhere instead
  status: pending
- description: Visit all 14 Syrian governorates
  status: pending
- description: Record a documentary about some part of my life
  status: pending
+archived('Nov 12, 2018', 'Get my work nominated for Website Of The Day', 'https://twitter.com/YahiaRefaiea/status/1061944244519297030')
+next('Own my first Website Of The Day')
- description: Own my first Website Of The Month
  status: pending
- description: Own my first Website Of The Year
  status: pending
- description: Be Designer Of The Year
  status: pending
- description: Teach 20 homeless how to code and change their lives
  status: pending
- description: Visit the Hogwarts School of Witchcraft and Wizardry
  status: pending
+archived('Sep 20, 2017', 'Watch Harry Potter’s movies all at once without sleeping', 'https://www.facebook.com/events/125212944878228/permalink/125215144878008/')
+archived('Sep 21, 2018', 'Have a pet', 'https://www.facebook.com/YahiaRefaiea/posts/1090008704488683')
- description: Have a monkey
  status: pending
- description: Have a baby lion
  status: pending
- description: Play with a baby panda
  status: pending
+archived('Mar 23, 2016', '30 day doodle to illustrator', 'https://www.facebook.com/YahiaRefaiea/media_set?set=a.542222899267269&type=3')
+archived('Oct 31, 2017', 'Do Inktober drawing challenge', 'https://www.facebook.com/YahiaRefaiea/media_set?set=a.867667380056151&type=3')
- description: Read the license for all the softwares I usually use
  status: pending
- description: Devote a one day to help random people from the street
  status: pending
- description: Publish a book
  status: pending
- description: Write a one paper song
  status: pending
- description: Watch Game of Thrones
  status: pending
- description: Learn how to play an instrument
  status: pending
- description: Play an instrument in the street
  status: pending
- description: Ride a four wheelers in the desert
  status: pending
- description: Catch-up 50 fish all by myself
  status: pending
- description: Work in a zoo as a zoo keeper
  status: pending
- description: Live in a treehouse for 6 months
  status: pending
- description: Rent a boat for a one day with my future wife all alone in a river
  status: pending
- description: Visit Disneyland with my future daughter
  status: pending
- description: Visit Switzerland
  status: pending
- description: Visit La Villa Sola Cabiati in Italy
  status: pending
- description: Master chess
  status: pending
- description: Monthly donate to an animal shelter
  status: pending
+archived('Apr 22, 2018', 'Win Startup Weekend 1st place', 'https://www.facebook.com/YahiaRefaiea/posts/971219879700900')
- description: Face a fear
  status: pending
- description: Go to a major festival in China
  status: pending
- description: Go on a hike
  status: pending
- description: Skydiving
  status: pending
- description: Bungee jumping
  status: pending
- description: Cave diving
  status: pending
- description: Spend a night on the beach
  status: pending
- description: Send a message in a bottle over the sea
  status: pending
- description: Eat a pizza in Italy
  status: pending
- description: Take a walk through Italy
  status: pending
- description: Speak Italian fluently
  status: pending
- description: Speak 4 International languages fluently
  status: pending
- description: Hold a real gun
  status: pending
- description: Have a paintball fight with friends
  status: pending
- description: Start and achieve a 365 Day Happiness Challenge
  status: pending
- description: Travel the world with someone I love
  status: pending
- description: Ride a jetski
  status: pending
- description: Have a vacation in Cordova
  status: pending
- description: Visit the Walk of Fame
  status: pending
- description: Visit the Breaking Room!
  status: pending
- description: Visit all 7 continents in one year
  status: pending
- description: Attend a live music concert
  status: pending
- description: Learn self defense
  status: pending
- description: Watch 100 Hindi movies
  status: pending
- description: Watch a full boring football game
  status: pending
- description: Make delicious food to feed myself each day
  status: pending
- description: Work in a restaurant.. McDonalds?
  status: pending
- description: Sell food in the street
  status: pending
- description: Travel first class
  status: pending
- description: Marry the love of my life
  status: pending
- description: Start a startup idea that sounds like a stupid idea.. But turns to be a successful business
  status: pending
- description: Solve a Rubik’s cube
  status: pending
- description: Learn how to ride a horse
  status: pending
- description: Learn how to shoot with an arc
  status: pending
- description: Have a couple of arc shots while riding a horse
  status: pending
- description: Touch a dolphin
  status: pending
- description: Build something using the Lego blocks
  status: pending
- description: Wear a bear costume and hug random people from the street
  status: pending
- description: Practice Kung Fu or Aikido
  status: pending
